.LoginButton {
  -webkit-font-smoothing: antialiased;
  background-color: red;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 43px;
  letter-spacing: 0;
  line-height: 18px;
  outline: none;
  margin-top: 13px;
  text-align: center;
  width: 100%;

  &:focus {
    outline: none;
  }
}
